<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="container">
        <h3 class="text-center text-uppercase text-primary">add company</h3>
        <form>
            <div class="mb-3">
                <label for="nameCompany" class="form-label">Company name </label>
                <input type="text" class="form-control" id="nameEmployee" autocomplete="additional-name">
            </div>
            <div class="mb-3">
                <label for="addressCompany" class="form-label">Company address </label>
                <input type="text" class="form-control" id="addressCompany">
            </div>
            <div class="mb-3">
                <label for="imageCompany" class="form-label">Image </label>
                <input type="file" class="form-control" id="imageCompany">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

</html>